<%= render 'navbar' %>

<h1>Listing Books</h1>

<div class="container">
  <% @books.each do |book| %>
    <div class="row">
      <%= link_to(image_tag(book.avatar.url(:medium)),book_path(book)) %>
    </div> 
  <% end %>
</div>