<%= form_for(@issue_book) do |f| %>
  <% if @issue_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue_book.errors.count, "error") %> prohibited this issue_book from being saved:</h2>

      <ul>
      <% @issue_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
