
body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('books_home_wall.jpg');

    /* Full height */
    height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 00px !important;
    color: inherit;
    background: rgba(100, 104, 150, 0.5) !important;
}
body {
      position: relative;
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }